[Unit]
Description=MSMC Django Gunicorn Daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/msmc
ExecStart=/var/www/msmc/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/var/www/msmc/msmc.sock \
    msmc.wsgi:application
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
